[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
mysqlclient = {path = "C:/Users/molne/Desktop/mysqlclient-1.4.2-cp37-cp37m-win_amd64.whl"}
pillow = "==5.4.1"

[requires]
python_version = "3.7"
