.center {
	display: block;
	margin: auto;
	width: 50%;
	padding: 10px;
}

button[type=submit] {
	float:right;
}

/* debug: Använd för att dubbelkolla omfattning av divar / containers */
.debug {
	/* border: 1px solid green; */
}